body {
    margin: 0;
}

* {
    outline: none;
}

header {
    display: flex;
    justify-content: space-around;
    box-shadow: 0.707px 0.707px 4px #e5e5e5;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


header a {
    color: #262626;
    font-size: 15px;
    font-family: "SegoeUIRegular";
    text-align: right;
    font-weight: 300;
    text-decoration: none;
}

.logo {
    position: relative;
}

.logo a:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -91px;
    width: 97px;
    height: 16px;
    background: url(../img/main-logo.png);
}

.search {
    position: relative;
    display: flex;
    margin-top: 6px;
    height: 30px;
}



.search input {
    width: 100%;
    color: #262626;
    padding: 13px 9px 15px;
    font-size: 15px;
    opacity: 0.702;
    border: 1px solid #9999;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search input:focus {
    color: #00dfff;
    border-color: #00dfff;
}



.search button {
    position: relative;
    background: #fff;
    height: 19px;
    top: 10px;
    left: -30px;
    border-width: 0;
    border-left: none;
}


a.search_button {
    position: relative;
    left: -25px;
    padding: 0 15px 2px 0;
}

.search_button:before {
    content: "";
    position: absolute;
    left: 25px;
    top: -3px;
    width: 16px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat 0 0;
}

.search_button:hover:before {
    background-position: 0 -21px;
}

.login {
    position: relative;
    left: 46px;
    top: 12px
}



a.cart {
    position: relative;
    left: -25px;
    padding: 0 15px 2px 0;
}

.cart:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 4px;
    width: 20px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat -16px 0;
}

.cart:hover:before {
    background-position: -16px -21px;
}







.login a,
.burger-menu li {
    padding: 2px 0 4px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

.burger-menu li {
    padding: 17px 34px 21px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.burger-sub {
    position: relative;
}

.burger-sub:before {
    content: "";
    position: absolute;
    right: 12px;
    bottom: 27px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.menu li:hover,
.sub-menu {
    background: #f2f2f2;
    border-color: #e5e5e5;
}

.burger-sub:hover:before {
    transform: rotate(45deg);
}

.burger-sub:hover .sub-menu {
    display: flex;
}

.flex{
    display: flex;
}

.sub-menu{
    display: none;
    position: absolute;
}



.sub-menu ul{
    display: inline-block;
}

.login a:hover {
    border-color: #00dfff;
    color: #00dfff;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}


.general {
    background: url(../img/general-image.jpg);
    height: 540px;
    background-position: center;
    margin-top: 30px;
}

.general-info {
    padding: 154px 70px 0;
    width: 412px;
}

.general h1 {
    font-size: 46px;
    color: #ffffff;
    font-weight: bold;
    font-family: "SegoeUIRegular";
}

.general p {
    font-size: 16px;
    color: #ffffff;
    font-family: "SegoeUIRegular";
    margin-bottom: 29px;
}

.general a,
.free a {
    position: relative;
}


.general a {
    padding: 14px 32px 16px 15px;
    color: #262626;
    font-size: 14px;
    font-family: "SegoeUIRegular";
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    background-color: #fff;
    line-height: 24px;
    letter-spacing: 1px;
}

.general a:before,
.free a:before {
    content: "";
    position: absolute;
    margin-top: 9px;
    right: 17px;
    width: 7px;
    height: 7px;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.general a:before {
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}


.free a:before {
    right: 17px;
    margin-top: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.free a:hover:before {
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}

.general a:hover {
    background-color: #000;
    color: #fff;
}

.general a:hover:before,
.free a:hover:before {
    margin-top: 6px;
    transform: rotate(45deg);
}

.general a:hover:before {
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.general img {
    filter: brightness(0);
}

.general img {
    padding-left: 8px;
}

.list {
    margin-bottom: 66px;
}

.main-list figure,
.list img {
    width: 270px;
}

.main-list figure {
    margin-right: 30px;
}

.main-list {
    display: flex;
}



.list h2 {
    margin: 60px 0 41px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: bold;
    font-family: "SegoeUIRegular";
    text-align: center;
}

.list h3 {
    width: 269px;
    height: 27px;
    margin: 0;
    padding-bottom: 11px;
    font-size: 20px;
    color: #0d0d0d;
    font-weight: bold;
    font-family: "SegoeUIRegular";
}

.list p {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    color: #262626;
    font-family: "SegoeUIRegular";
}

figure p:last-child {
    padding-bottom: 17px;
}

.list a {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0067b8;
    font-family: "SegoeUIRegular";
    transition: all .5s ease;
}

.list a:hover {
    text-decoration: underline;
}

figure,
figcaption {
    margin: 0;
    padding: 0;
}

.prelast {
    padding-bottom: 41px;
}

.last {
    padding-bottom: 19px;
}

.freebie {
    background: url(../img/general-image3.jpg);
    height: 540px;
}

.free {
    padding: 72px 68px 0;
    max-width: 423px;
}

.freebie h3 {
    color: #0d0d0d;
    font-size: 46px;
    font-weight: bold;
    font-family: "SegoeUIRegular";
}

.freebie p {
    color: #0d0d0d;
    font-size: 16px;
    font-family: "SegoeUIRegular";
    line-height: 24px;
}

.freebie a {
    padding: 14px 32px 16px 15px;
    color: #fff;
    font-size: 14px;
    font-family: "SegoeUIRegular";
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    background-color: #262626;
    letter-spacing: 1px;
}



.freebie a:hover {
    background-color: #fff;
    color: #262626;
}

.freebie img {
    padding-left: 8px;
}

.freebie a:hover img {
    filter: invert(1);
    transform: rotate(90deg);
    margin: 0 0 0 10px;
    padding: 0;
}

.browsers {
    position: relative;
    margin: 82px 50px;
    text-align: center;

}

.browsers h4 {
    opacity: 0.702;
    font-size: 15px;
    line-height: 30px;
    color: #262626;
    font-family: "SegoeUIRegular";
}


.browsers a {
    margin-top: 17px;
    padding-right: 42px;
}


.ie:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #425daa url(../img/internet-explorer.jpg);
    transition: all .2s ease;
}

.ie:hover:before {
    background-position: 0 734px;
}

.ch:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #55acee url(../img/chrome.jpg);
    transition: all .3s ease;
}

.ch:hover:before {
    background-position: 0 734px;
}

.op:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #ed2b2f url(../img/opera.jpg);
    transition: all .2s ease;
}

.op:hover:before {
    background-position: 0 734px;
}

.browsers a:hover img {
    filter: drop-shadow(2px 4px 6px black);
}


footer {
    background-color: #f2f2f2;
}

footer li {
    list-style: none;
    padding-bottom: 19px;
}

.footer li:not(:last-child) {
    margin-right: 27px;
}


footer a {
    text-decoration: none;
    color: #616161;
    font-size: 12px;
    font-family: "SegoeUIRegular";
    border-bottom: 1px solid transparent;
}

footer a:hover {
    border-color: #7c7c7c;
}

.pages {
    display: flex;
    justify-content: space-between;
}



.pages ul {
    padding: 0;
}

.pages h3 {
    font-size: 15px;
    line-height: 24px;
    color: #616161;
    font-weight: bold;
    font-family: "SegoeUIRegular";
}

.footer ul {
    display: flex;
    padding: 0;
    justify-content: flex-end;
}

.footer li:first-child {
    position: relative;
    padding-right: 281px;
}

.lang:before {
    content: "";
    position: absolute;
    left: -17px;
    width: 14px;
    height: 14px;
    background: url(../img/lang.png);
    transition: all .3s ease;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUILight.woff") format("woff"),
        url("../fonts/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUIRegular.woff") format("woff"),
        url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}